body {
    text-align: center;
    background-color:#272727;
    color: white;
}

#logo {
    width: 50%;
}

#image-div {
    display: none;
}

#items-div {
    border: 1px dashed blue;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    
}

#custom-upload-btn {
    padding: 10px;
    color: white;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 100px;
}

#custom-upload-btn:hover {
    background-color: greenyellow;
}

#custom-upload-text {
    position: absolute;
    right: 100px;
    
}
#lang-div{
    position: absolute;
    right: 60px;
}

p{
    position: absolute;
    right: 20px;
    background: rgb(68, 65, 65);
    border: 5px solid rgb(48, 47, 47);
    padding: 20px;
    margin:10px;
    text-align: justify
}
