body {
    text-align: center;
    background-color:#272727;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

#logo {
    width: 50%;
}

#image-div {
    position: relative;
    display: none;
    width: 45%;
}

#uploaded-img {
    display:inline-block;
    width: 100%;
    border-radius: 4px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
   
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 50%;
    border: 8px solid #cccccc;
    border-top-color: #6879D3;
    animation: spinner .6s linear infinite;
}

#error-text {
    border: 2px solid #ff652f;
    border-radius: 3px;
    position: absolute;
    color: #ff652f;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    display: none;
}

#wrapper {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 500px;
}

#input-div {
    display:inline-block;
    margin-bottom: 10px;
}

#lang-div {
    white-space: nowrap;
    font-size: 20px;
}

#credit {
    display: inline-block;
    margin-left: 5px;
}

.material-icons {
    font-size: 36px;
}

#languages {
    margin-left: 5px;
    font-size: 20px;
}

#languages option {
    font-size: 20px;
}

#words-div {
    vertical-align: top;
    display: none;
    float: left;
    text-align: left;
}

.word-item {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 3px;
}

.confidence-text {
    padding: 5px 10px 5px 10px;
    display:inline-block;
    font-size: 32px;
    vertical-align: center;
    text-align: center;
}

.high-confidence {
    background-color: #14a76c;
}

.mid-confidence {
    background-color: orange;
}

.low-confidence {
    background-color: #ff652f;
}

.original-text {
    padding: 5px 10px 5px 10px;
    background-color: rgb(68, 65, 65);
    display:inline-block;
}

.translated-text {
    background-color: #6879D3;
    display: none;
}

.original-text, .translated-text {
    font-size: 32px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

#custom-upload-btn {
    outline: none;
    margin-top: 10px;
    color: white;
    background-color: #6879D3;
    border: 1px solid black;
    font-size: 24px;
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#custom-upload-btn:hover {
    background-color: #4590E1;
}

#hint-text {
    margin-top: 5px;
    display: none;
    font-size: 20px;
    font-style: italic;
}

#about-div {
    display:inline-block;
    width: 55%;
    background: rgb(68, 65, 65);
    border: 5px solid;
    border-image-source: linear-gradient(45deg, #BF3EAC, #6879D3);
    border-image-slice: 1;
    font-size: 18px;
    padding: 0px 20px 10px 20px;
    margin-top: 35px;
    text-align: justify;
}

