<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="#" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src={{ url_for('static', filename='js/upload.js') }}></script>
        <script src={{ url_for('static', filename='js/functions.js') }}></script>
        <script src={{ url_for('static', filename='js/texttospeech.js') }}></script>
        <title>PictureThese</title>
    </head>
    <body>
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="site logo"/> 
        <br><br>
        <!--Image Display and where the User will interact-->
        <div id="image-div">
            <img id="uploaded-img">
            <div id="loading-spinner"></div>
            <div id="error-text"></div>
        </div>
        <div id="wrapper">
            <div id="input-div">
                <!--Select the language to translate to -->
                <div id="lang-div">
                    Translate to
                    <select id="languages">
                        {%  for language in languages %}
                            {%  if language.name == "English" %}
                                <option selected value={{ language.language }}> {{ language.name }} </option>
                            {% else %}
                                    <option value={{ language.language }}> {{ language.name }} </option>
                            {% endif %}
                        {%  endfor %}
                    </select>
                    <img id="credit" src="{{ url_for('static', filename='images/google-translate-credit.svg') }}" alt="Powered by Google Translate"/>
                </div>
                <!--File Upload Button-->
                <form id="upload-form" action='/image' method="POST" enctype = "multipart/form-data">
                    <input name="file" type="file" id="default-upload-btn" accept="image/*" hidden="hidden"/>
                    <button type="button" id="custom-upload-btn">
                        <i class="material-icons">open_in_browser</i>
                        <br>
                        Upload File (Max 5MB)
                    </button>
                </form>
                <span id="hint-text"></span>
            </div>
            <br>   
            <div id="words-div"></div>
        </div>
        <br>
        <div id="about-div">
            <h1>About</h1>
            <p>
                Built by a team of Claudio Vertemara, Kevin Piffero, Jesus Andres Bernal Lopez, and Noah Tolentino Nguyen as a
                more fun and interactive way to learn how things are said in other languages. 
            </p>
            <p>
                Using the Google Cloud Vision API, we can analyze images and specify their contents, 
                then translate them into a language of your choosing. Hit the “Upload File” button and we'll take it from there.
            </p>
        </div>
    </body>
</html>
