<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Image Translator</title>
    </head>
    <body>
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="site logo"/> 
        <!--Image Display and where the User will interact-->
        <div id="image-div">
            <img id="uploaded-img">
            <div id="items-div">
                <ul id="items-list">
                </ul>
            </div>
        </div>
          <!--Select the language to translate to -->
        <div id="lang-div">
            Translate to
            <select name="languages">
                {%  for language in languages %}
                    {%  if language.name == "English" %}
                        <option selected value={{ language.language }}> {{ language.name }} </option>
                    {% else %}
                         <option value={{ language.language }}> {{ language.name }} </option>
                    {% endif %}
                {%  endfor %}
            </select>
        </div>
        <!--File Upload Button-->
        <form id="upload-form" action='/image' method="POST" enctype = "multipart/form-data">
            <input name="file" type="file" id="default-upload-btn" accept="image/*" hidden="hidden"/>
            <button type="button" id="custom-upload-btn">Upload File</button>
        </form>
        <span id="custom-upload-text">No file chosen</span>
        <script src={{ url_for('static', filename='js/upload.js') }}></script>

    </body>
</html>